//Variables
//$color_rosa:#CC6699;
$main-color:#33715A;
$dark-color:#27322A;
//$light-color:#C0FFE7;
$light-color:#CDFFEC;

//Tamaño del texto
$txt-small:0.65rem;
$txt-medium:0.75rem;
$txt-large:1.25rem;