{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% load static %}
{% block content %}
<div class="login reset-password">
<form method="post" action="">
    <div class="centrar-contenido">
        <img src="{% static 'assets/images/logo-header.png' %}" alt="Consistent" />
    </div>
    <p class="txt-medium">Olvidaste tu Password. Agrega tu email en el siguiente campo y se te enviaran las instrucciones para crear uno nuevo.</p>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="derecha-contenido">
        <button type="submit">Reset Password</button>
    </div>
    <p class="derecha txt-medium"><a href="{% url 'auth_login' %}">Iniciar Sesion</a></p>
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}